
form {
    background: #fff;
    padding: 32px;
    border-radius: 5px;
}

.form-image {
    img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 250px;
        margin: 0 auto;
    }
}

.custom-file {
    margin-bottom: 1rem;
}

.editorForm {
    margin-bottom: 20px;
}

.buttons {
    clear: both;
    .btn {
        margin: 0 5px;
    }
}