
form {
    background: #fff;
    padding: 32px;
    border-radius: 5px;
}

.form-image {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.custom-file {
    margin-bottom: 1rem;
}

.editorForm {
    margin-bottom: 20px;
}

.buttons .btn {
    margin: 0 5px;
}