.post {
    height: 100%;
    
    &__title {
        display: block;
        display: -webkit-box;
        text-transform: uppercase; 
        font-size: 20px;
        padding-bottom: 5px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0 auto;
        text-overflow: ellipsis;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 170px;
        object-fit: cover;
    }

    &__text {
        display: block;
        display: -webkit-box;
        font-size: 14px;
        line-height: 1.5;
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}