.post {
    height: 100%;

    .card-body {
        overflow: hidden;
    }
    
    &__title {
        display: block;
        text-transform: uppercase; 
        font-size: 20px;
        margin: 0 0 5px;
        height: 50px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        cursor: pointer;
        transition: all .3s;
        &:hover {
            color: #8e9610;
            transition: all .3s;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 170px;
        object-fit: cover;
    }

    &__text {
        display: block;
        font-size: 14px;
        line-height: 1.5;
        height: 87px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
    }

}