.detail {

    &__title {
        display: block;
        padding-bottom: 25px;
        margin: 0;
    }

    &__cont {

    }
    &__image {
        display: block;
        max-width: 100%;
        width: 30%;
        float: left;
        margin: 0 15px 20px 0;
    }
    &__img {
        display: block;
    }
    &__cont {
        
    }
    &__text {
        font-size: 16px;
        line-height: 1.6;
    }
}